@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    background: #d2ee58;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec5f5f, #d2ee58);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec5f5f, #d6eb79); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

ul {
    height: 60px;
    color: rgb(112, 110, 5);
    font-family: cursive;
    font-size: 20px;
    width: 430px;
    border-radius: 10px;
    margin: 10px;
    margin-left: 480px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/*Primera pantalla*/
#imagenPrincipal{
   
    width: 20rem;
    opacity: 0.5;
}

.img_h1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.img_h1 h1{
   
    position: absolute;
    font-size: 50px;
    color: black;
    text-shadow:0 0 8px rgb(0, 0, 0, 0.8) ;
    bottom: auto;
}

.nombreUsuario{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7C515;
    width: 100vw;
    height: 18vh;

.boton:hover{
    background-color: rgb(216, 69, 69);
   
}

.ingresarNombre {
    border-radius: 2rem;
    width: 40vh;
    height: 50px;
    text-align: center;
    font-size: 1rem;
    border-color: rgb(160, 6, 32);
    margin-right: 1rem;
    margin-left: 1rem;
}

.btnInicio {
    border-radius: 1rem;
    width: 15vw;
    height: 8vh;
    font-size: 1rem;
    background-color: rgb(175, 10, 10);
    border-color: rgb(248, 241, 241);
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

/*Segunda pantalla*/
.mostrarNombre{
    color:#c91a23;
    font-size: 50px;
    font-family: cursive;
    text-align: center;
    margin-top: 30px;
}

img{
    width: 80px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: solid 3px rgb(236, 235, 241);
}

.segundaPantalla{
    display: none;
}

/*.contenedorImagenes{
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    transition: transform .4s cubic-bezier(.16,.77,.83,.49);
}*/
.contenedorImagenes{
    display: flex;
    flex-wrap: wrap;
    width: 4.5rem;
    height: 5rem;
    transform-style: preserve-3d;
    transition: transform .4s cubic-bezier(.16,.77,.83,.49);
    object-fit: cover;
    margin: 0 auto;
}

.flip{
    transform: rotateY(180deg);
}

.frontFace{
    position: relative;
    transform: rotateY(180deg);
   
}

.backFace{
    position: absolute;
    backface-visibility: hidden;
}

.backFace img,
    .frontFace img{
        width: 4rem;
        height: 4rem;
    }

.backFace img{
    background-color: rgb(253, 251, 251);
}

#root{

    background: #ec5f5f;  /* fallback for old browsers*/
    background: -webkit-linear-gradient(to right, #d2ee58, #ec5f5f);  /* Chrome 10-25, Safari 5.1-6*/
    background: linear-gradient(to right, #d6eb79, #ec5f5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 123vh;
    margin-top: 0.5rem;
    margin-left: 4.5rem;
    padding: 1rem;
    border: 3px solid rgb(221, 217, 5);
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

/*Primer modal*/
.modalBtnPlay{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100vw;
    height: 150vh;
    position: absolute;
    margin: 0 auto;
    /*pointer-events: none;*/
}
.btnPlay{
    background-color: #c91a23;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    
    cursor: pointer;
}

/*Primer final*/
.containerModalFinal{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    position:fixed;
    display: none;
}

.modalFinal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #E7C515;
    border-radius: 5px;
    width: 70vw;
    height: 50vh;
    margin-left: 4.5rem;
    margin-top: 10rem;
}

.youWon{
    color: rgb(184, 4, 4);
    font-size: 1.5rem;
    font-family: cursive;
    margin-bottom: 10px;
}

.imagenYouWon{
    margin-bottom: 30px;
    width: 15rem;
    height: 10rem;
}

.btnModalFinal{
    background-color: #f31f1f;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    padding: 10px 5px;
    cursor: pointer;
    margin-bottom: 30px;
}

@media screen and (min-width: 450px){
    #root{
        margin-left: 7rem;
        height: 60rem;
    }
    .modalBtnPlay{
        height: 200vh;
    }
}
@media screen and (min-width: 768px){
    #root{
        margin-left: 17rem;
        height: 60rem;
    }
    .modalBtnPlay{
        height: 200vh;
    }
}
@media screen and (min-width: 1000px){
    #imagenPrincipal{
        width: 45rem;
    }
    #root{
        margin-top: 1rem;
        margin-left: 23rem;
        width: 40rem;
        height: 30rem;
    }
    .contenedorImagenes{
        width: 7rem;
        height: 7rem;
    }
    .backFace img,
    .frontFace img{
        width: 6rem;
        height: 6rem;
    }
    .modalBtnPlay{
        height: 100vh;
    }
    .btnPlay{
        padding: 4rem 3rem;
        margin: 0 auto;
    }
    .modalFinal{
        width: 30rem;
        height: 25rem;
        margin-left: 27rem;
        margin-top: 10rem;
    }
    .imagenYouWon{
        width: 25rem;
        height: 20rem;
    }
}
@media screen and (min-width: 600px){
    #imagenPrincipal{
        width: 40rem;
    }
}
   

